extends layout

block content
  h1= title
  p Welcome to the monitor pug
  div(class="container-fluid")
        div(class="row")
            -
                let monitor = results
                
  div(class="container-fluid") 
    div(class="row  m-1") 
      each item in monitor 
       - let destination = `dispatch(\"/monitor/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") monitor #{item.brand}(#{item.size}) is #{item.cost}
            button.btn( class="btn-primary ml-1", onclick= destination) Update
            
        script.                
            function buy(itemNo)
            {
                  alert(`you purchased Item ${itemNo+1}`)
            }
        script. 
          function dispatch(path)
          { 
              window.location.href=path 
          }
          