extends layout
block content
 h1= title
 - let monitorid = toShow.id
 - let monitorbrand = toShow.brand
 - let monitorsize = toShow.size
 - let monitorcost = toShow.cost
 div
 div.row
 div(class='monitorAttr mr-3') monitor ID is:
 div #{monitorid}
 div.row
 div(class='monitorAttr mr-3') monitor brand is:
 div #{monitorbrand}
 div.row
 div(class='monitorAttr mr-3') monitor Size is:
 div #{monitorsize}
 div.row
 div(class='monitorAttr mr-3') monitor Cost is:
 div #{monitorcost}